@charset "UTF-8";
/*indexcss*/

/**********header**********/
#headerBox {
  height: 60%;
  line-height: 60px;
  padding: 0;
}

/************ 메인 메뉴 고정 ****************/
/* 윈도우 스크롤 시 메인 메뉴 고정 */
/* 클래스 css 구성해 놓고 js addClass()로 사용 */
.mainMenuFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소들 위에 표시 */
}

/* 메인 메뉴 아래 그림자 표시 */
.mainMenuShadow {
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.3);
}